.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    color: #0047AB;
    font-size: 14px;
    font-weight: 700;
}

.posttext {
    font-size: 14px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.reply {
    padding-left: 50px;
}

.replyOfReply {
    padding-left: 100px;
}