.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    color: #0047AB;
    font-size: 14px;
    font-weight: 700;
}

.posttext {
    font-size: 14px;
}

.reply-button {
    font-size: 11px;
    position: relative;
    float: left;
    left: 0;
    margin-left: -10px;
}

.replies {
    padding-left: 1em;
}
